@media (max-width: 500px) {
    .label-responsive{
        font-size: 14px;
    }
    .plane-img{
        display: none;
    }
    .lqd-contact-form-inputs-md input{
        height: 45px;
        font-size: 14px;
    }
    .py-2em{
        padding: 8px 0px;
    }
    .file-upload{
        margin-left: 10px;
    }
    .gender-input{
        font-size: 16px;
    }
    .lqd-contact-form-inputs-md select{
        height: 40px;
    }
    .lqd-contact-form-button-lg input[type=submit]{
        height: 45px;
    }
    .titlebar-inner{
        padding: 30px 10px;
    }
    .lqd-contact-form {
        --input-margin-bottom: 10px;
        --inputs-margin: 0 0 var(--input-margin-bottom) 0;
    }
}